@model DesafioICOMON.Models.Funcionario
<li>
    @Model.Nome
    @{
        var funcionarios = (IEnumerable<DesafioICOMON.Models.Funcionario>)ViewBag.JsonData;

        var filhos = funcionarios
        .Where(f => f.ManagerId == Model.Id)
        .ToList();

        if (filhos.Any())
        {
            <ul>
                @foreach (var filho in filhos)
                {
                    @Html.Partial("_FuncionarioPartial", filho)
                }
            </ul>
        }
    }
</li>
