@model DesafioICOMON.Models.Cargo

<h2>Excluir Departamento</h2>

<div class="alert alert-danger">
  Tem certeza que deseja excluir o Cargo <strong>@Model.Nome</strong>?
</div>

<form asp-action="Delete">
  <input type="hidden" asp-for="Id" />
  @* <button type="submit" class="btn btn-danger">Excluir</button> *@
  <a asp-action="DeleteCargo" asp-route-id="@Model.Id" class="btn btn-danger">Excluir</a>
  <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
